@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

body{
    font-family: 'Poppins',sans-serif;
    min-height: 100vh;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokedex{
    background-color: red;
    display: flex;
    gap: 30px;
    /*espaçamento interno */
    padding: 30px 0;
}